/* Fonts */
/* Colors */
/* Container */
/* Mobile breakpoints */
/* Fixed-nav height */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #888888;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bellota", cursive;
  color: #473452;
}

h2 {
  font-size: 42px;
  font-weight: 700;
}

p {
  line-height: 1.5;
}

a,
button {
  transition: all 0.5s;
}

section {
  padding: 80px 0;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 23px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.nav-fixed {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  padding: 15px 0;
  background-color: white;
  z-index: 9999;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ul-nav {
  display: none;
  list-style-type: none;
}

.li-nav {
  padding: 20px;
}

.li-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.small-logo-txt {
  height: 90px;
  width: auto;
}

.button-close {
  display: none;
}

.menu-button {
  color: #1ba4ce;
  font-size: 36px;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .open .menu {
    background-color: #1ba4ce;
    padding-top: 65px;
    padding-right: 10px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
  }
  .open .menu .ul-nav {
    display: block;
  }
  .open .li-nav a {
    font-weight: 400;
    font-size: 24px;
    color: white;
  }
  .open .button-hamburger {
    display: none;
  }
  .open .button-close {
    display: inline-block;
    color: white;
  }
}

@media (min-width: 992px) {
  .menu-button {
    display: none;
  }
  .nav-items {
    justify-content: left;
  }
  .ul-nav {
    display: flex;
  }
}

.main-header .main-header-content {
  padding-top: 170px;
  background-color: transparent;
  height: 700px;
}

.main-header .main-header-content .header-description, .main-header .main-header-content h1 {
  font-weight: 700;
  color: #473452;
}

.main-header .main-header-content .header-description {
  font-family: "Bellota", cursive;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-header .main-header-content h1 {
  font-size: 51px;
  color: #1e2528;
  margin: 40px 0;
}

.main-header .main-header-content .header-content {
  font-size: 16px;
  color: #555555;
}

.main-header .main-header-content .buttons-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.main-header .main-header-content .buttons-div .btn-primary {
  margin: 10px 10px 10px 0;
}

@media (max-width: 480px) {
  .main-header .main-header-content .buttons-div .btn-primary {
    margin-right: 0;
  }
}

.main-header .main-header-content .buttons-div .btn-watch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.main-header .main-header-content .buttons-div .btn-watch .play-icon {
  font-size: xx-large;
  margin-right: 5px;
}

.main-header .header-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  max-width: 37%;
  display: none;
}

.main-header .header-flowers {
  position: absolute;
  left: 0;
  top: 220px;
  max-width: 8%;
  z-index: -1;
}

@media (min-width: 992px) {
  .main-header .header-bg {
    display: block;
  }
  .main-header-content {
    max-width: 65%;
  }
}

.about .container {
  text-align: center;
  max-width: 850px;
}

.about .container .about-logo {
  width: 100px;
}

.about .container .about-spa {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: #473452;
}

.about .container .about-content {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 26px;
}

.services .services-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services .services-wrapper .services-item {
  flex-basis: 100%;
  height: 200px;
  position: relative;
}

@media (min-width: 576px) {
  .services .services-wrapper .services-item {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .services .services-wrapper .services-item {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .services .services-wrapper .services-item {
    flex-basis: 25%;
  }
}

.services .services-wrapper .services-item .services-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .services-wrapper .services-item .services-hidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 164, 206, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

.services .services-wrapper .services-item .services-hidden:hover {
  opacity: 1;
}

.services .services-wrapper .services-item .services-hidden .services-hidden-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.services .services-wrapper .services-item .services-hidden .services-hidden-content h3 {
  color: white;
}

.services .services-wrapper .services-item .services-hidden .services-hidden-content img {
  width: 50px;
}

footer {
  padding: 60px;
}

footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

footer .footer-wrapper img {
  width: 100px;
}

footer .footer-wrapper .ul-nav {
  margin: 20px auto;
  padding: 0;
}

@media (max-width: 575px) {
  footer .footer-wrapper .ul-nav {
    display: block;
  }
}

@media (min-width: 576px) {
  footer .footer-wrapper .ul-nav {
    display: flex;
    flex-wrap: wrap;
  }
}

footer .footer-wrapper .ul-nav .li-nav {
  text-align: center;
  padding: 10px;
}

footer .footer-wrapper p.copyright {
  margin-top: 0;
}

.blog .container .col-3-section .col-3-item .post-details {
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}

.blog .container .col-3-section .col-3-item h3 {
  font-size: 22px;
}

.team {
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .team .container .col-3-section .col-3-item:nth-child(2),
  .team .container .col-3-section .col-3-item:nth-child(3) {
    margin-top: 60px;
  }
}

.team .container .col-3-section .col-3-item {
  padding: 0;
  border: none;
  position: relative;
  box-shadow: none;
}

.team .container .col-3-section .col-3-item .team-content {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: -70px;
  background-color: white;
  transition: all 0.5s;
}

.team .container .col-3-section .col-3-item .team-content:hover {
  bottom: -40px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.1);
}

.team .container .col-3-section .col-3-item .team-content:hover .team-social-media {
  visibility: visible;
}

.team .container .col-3-section .col-3-item .team-content .team-social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  visibility: hidden;
}

.team .container .col-3-section .col-3-item .team-content .team-social-media .social-media-cirle {
  width: 40px;
  height: 40px;
  border: solid 1px;
  border-radius: 50%;
  line-height: 40px;
  font-size: x-large;
  cursor: pointer;
}

.team .container .col-3-section .col-3-item .team-content .team-social-media .social-media-cirle:hover {
  background-color: #1ba4ce;
  color: white;
}

.contact {
  background-color: #1ba4ce;
}

.appointment {
  background-color: #1ba4ce;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.appointment .background-image {
  display: none;
  flex-basis: 30%;
}

.appointment .background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .appointment .background-image {
    display: flex;
  }
}

.appointment #appointment-form {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .appointment #appointment-form {
    flex-basis: 70%;
  }
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  padding: 14px 20px;
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:link:hover,
.btn-primary:link:active,
.btn-primary:visited:hover,
.btn-primary:visited:active {
  background-color: #30383b;
  border-color: #30383b;
}

.btn-primary a,
.btn-primary:link a,
.btn-primary:visited a {
  text-decoration: none;
  color: white;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
  transition: all 0.2s;
  margin-right: 15px;
  text-transform: uppercase;
}

.btn-first {
  color: #fff;
}

.btn-first:link, .btn-first:visited {
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.btn-first:hover, .btn-first:active {
  background-color: #30383b;
  border: 1px solid #30383b;
}

.btn-second {
  color: #fff;
}

.btn-second:link, .btn-second:visited {
  background-color: #30383b;
  border: 1px solid #30383b;
}

.btn-second:hover, .btn-second:active {
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.section-header {
  text-align: center;
}

.section-header .section-header-description {
  margin: 30px auto;
}

@media (min-width: 768px) {
  .section-header .section-header-description {
    width: 60%;
  }
}

.col-3-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-3-section .col-3-item {
  padding: 20px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  text-align: center;
  margin-top: 20px;
  flex-basis: 100%;
}

.col-3-section .col-3-item:hover {
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.1), -5px -5px 5px rgba(128, 128, 128, 0.1);
}

@media (min-width: 768px) {
  .col-3-section .col-3-item {
    flex-basis: 32%;
  }
}

.col-3-section .col-3-item img {
  width: 100%;
}

.col-3-section .col-3-item p.col-3-description {
  margin: 30px 0;
}
/*# sourceMappingURL=style.css.map */