footer {
    padding: 60px;
    .footer-wrapper {

        @include flexbox;
        flex-direction: column;
        align-items: center;

        img {
            width: 100px;
            
        }

        .ul-nav {
            margin: 20px auto;
            padding: 0;
            @media (max-width: $small - 1) {
                display: block;
            }

            @media (min-width: $small) {
                @include flexbox;
            }

            .li-nav {
                text-align: center;
                padding: 10px;
            }
        }

        p.copyright {
            margin-top: 0;
        }
    
    }
    
    
}