.main-header {

    .main-header-content {
        padding-top: $fixed-nav-height + 20;
        background-color: transparent;
        height: 600px;

        .header-description, h1 {
            font-weight: 700;
            color: $secondary-color;
        }

        .header-description {
            font-family: $secondary-font;
            font-size: $primary-font-size + 4;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h1 {
            font-size: 51px;
            color: $main-header-color;
            margin: 40px 0;
        }

        .header-content {
            font-size: $primary-font-size + 4;
            color: $secondary-text-color;
        }

        .buttons-div {

            @include flexbox;
            height: fit-content;
            align-items: center;
            margin-top: 40px;

            .btn-primary {
                margin: 10px 10px 10px 0;
                
            }

            @media (max-width: $extra-small) {
                .btn-primary {
                    margin-right: 0;
                }
            }

            .btn-watch {
                @include flexbox;
                align-items: center;
                border: none;
                background-color: transparent;
                padding: 10px;

                .play-icon {
                    font-size: xx-large;
                    margin-right: 5px;
                }
            }
        }
    }

    .header-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10000;
        max-width: 37%;
        display: none;
    }

    .header-flowers {
        position: absolute;
        left: 0;
        top: $fixed-nav-height + 60;
        max-width: 8%;
        z-index: -1;
    }

}


@media (min-width: $large) {
    .main-header {
        .header-bg {
            display: block;
        }
    }

    .main-header-content {
        max-width: 65%;
    }
}


