.main-header {

    .main-header-content {
        padding-top: $fixed-nav-height + 20;
        background-color: transparent;
        height: 600px;

        .header-description, h1 {
            font-family: $secondary-font;
            font-weight: 700;
            color: $secondary-color;
        }

        .header-description {
            font-size: $primary-font-size + 4;
            text-transform: uppercase;
        }

        h1 {
            font-size: 51px;
            color: $main-header-color;
        }

        .header-content {
            font-size: $primary-font-size + 4;
            color: $secondary-text-color;
        }



    

    }



    .header-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10000;
        max-width: 35%;
        display: none;
    }

    .header-flowers {
        position: absolute;
        left: 0;
        top: $fixed-nav-height + 60;
        max-width: 8%;
        z-index: -1;
    }

}


@media (min-width: $large) {
    .main-header {
        .header-bg {
            display: block;
        }
    }

    .main-header-content {
        max-width: 65%;
    }



}
