.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ul-nav {
    display: flex;
    list-style-type: none; //remove markers from menu items
}

.li-nav {
    padding: 20px;
    
}

.li-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.small-logo-txt {
    height: 80px;
    width: auto;
}

//class to toggle menu
.open {
    align-items: flex-start;
    //justify-content: left;


    //mobile-menu styling:
    .mobile-menu {
        background-color: $primary-color;
        position: absolute;
        right: 0;
        padding-right: 0;
        z-index: 0;
        padding-top: 50px;
        text-align: right;
    }
    .li-nav a {
        font-weight: 400;
        font-size: $primary-font-size * 2;
        color: white;
    }



    .menu-button {
        margin-top: 20px;
        z-index: 10;
    }

    .mobile-menu {
        display: inline-block;

        .ul-nav {
            display: block;
        }
    }



    //menu buttons toggle
    .button-hamburger {
        display: none;
        
    }
    .button-close {
        display: inline-block;
        color: white;
    }
}

.button-close {
    display: none;
}

.menu-button {
    color: $primary-color;
    font-size: $primary-font-size * 3;
    cursor: pointer;
}
    
@media (max-width: $large) {
    .mobile-menu {
        display: none;
    }   
}

@media (min-width: $large) {
    .menu-button {
        display: none;
    }

    .nav {
        justify-content: left;
    }
}