.nav-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 15px 0;
    background-color: white;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ul-nav {
    display: none;
    list-style-type: none; //removes markers from menu items
}

.li-nav {
    padding: 20px;
}

.li-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.small-logo-txt {
    height: 80px;
    width: auto;
}

.button-close {
    display: none;
}

.menu-button {
    color: $primary-color;
    font-size: $primary-font-size * 3;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
}
 



@media (max-width: $large - 1) {
    //class to toggle menu
    .open {
    
        //mobile menu styling:
        .menu {
            background-color: $primary-color;
            padding-top: 65px;
            padding-right: 10px;
            text-align: right;
            position: fixed;
            top: 0;
            right: 0;
    
            .ul-nav {
                display: block;
            }
        }
    
        .li-nav a {
            font-weight: 400;
            font-size: $primary-font-size * 2;
            color: white;
        }
            
        //menu buttons toggle
        .button-hamburger {
            display: none;
            
        }
        .button-close {
            display: inline-block;
            color: white;
        }
    }
}



@media (min-width: $large) {
    .menu-button {
        display: none;
    }

    .nav-items {
        justify-content: left;
    }

    .ul-nav {
        display: flex;
    }
}