.team {
    padding-bottom: 120px;
    .container {
        .col-3-section {
            @media (max-width:$medium) {
                .col-3-item:nth-child(2),
                .col-3-item:nth-child(3) {
                margin-top: 60px;
                }
            }
            
            .col-3-item {
                padding: 0;
                border: none;
                position: relative;
                box-shadow: none;

                .team-content {
                    position: absolute;
                    left: 30px;
                    right: 30px;
                    bottom: -70px;
                    background-color: white;
                    transition: all 0.5s;

                    &:hover {
                        bottom: -40px;
                        box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.1);
                        .team-social-media {
                            visibility: visible;
                        }
                    }

                    .team-social-media {
                        @include flexbox;
                        justify-content: space-evenly;
                        padding-bottom: 20px;
                        visibility: hidden;

                        .social-media-cirle {
                            width: 40px;
                            height: 40px;
                            border: solid 1px;
                            border-radius: 50%;
                            line-height: 40px;
                            font-size: x-large;
                            cursor: pointer;

                            &:hover {
                                background-color: $primary-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
