* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    color: $secondary-color;
}

h2 {
    font-size: 42px;
    font-weight: 700;
}

p {
    line-height: 1.5;
}

a,
button {
    transition: all 0.5s;
}

section {
    padding: 80px 0;
}

.container {
    max-width: $small-container;
    width: $small-container;
    padding: 0 23px;
    margin: 0 auto;
}

@media (min-width: $large) {
    .container {
        max-width: $large-container;
    }
}

@media (min-width: $extra-large) {
    .container {
        max-width: $extra-large-container;
    }
}