/* Fonts */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;

$primary-font-size: 12px;

/* Colors */
$primary-color: #1ba4ce;
$secondary-color: #473452;

$button-color: #30383b;

$primary-text-color: #888888;
$secondary-text-color: #555555;

$main-header-color: #1e2528;
$services-hover-color: rgba(27, 164, 206, 0.5);

/* Container */
$small-container: 100%;
$large-container: 960px;
$extra-large-container: 1140px;

/* Mobile breakpoints */
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;


/* Fixed-nav height */
$fixed-nav-height: 120px;