//button-primary - basic button with background color: $primary color. Used in a header
.btn-primary,
.btn-primary:link,
.btn-primary:visited {
    //all: unset;
    padding: 14px 20px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    

    &:hover,
    &:active {
    background-color: $button-color;
    border-color: $button-color;
    }

    a {
        text-decoration: none;
        color: white;
    }
}
//end of button-primary



.btn {
    &:link,
    &:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 400;
        text-decoration: none;
        border-radius: 200px;
        transition: all 0.2s;
        margin-right: 15px;
        text-transform: uppercase;
    }
}

.btn-first {
    color: #fff;
    &:link,
    &:visited {
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
    &:hover,
    &:active {
        background-color: $button-color;
        border: 1px solid $button-color;
    }
}

.btn-second {
    color: #fff;
    &:link,
    &:visited {
        background-color: $button-color;
        border: 1px solid $button-color;
    }
    &:hover,
    &:active {
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

/**  BUTTON TYPE SUBMIT  **/ 
button[type=submit] {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 700;
        text-decoration: none;
        border-radius: 200px;
        transition: all 0.2s;
        margin-right: 15px;
        text-transform: uppercase;

        background-color: white;
        border: 1px solid white;
        color: $secondary-color;

        &:hover,
        &:active {
            background-color: $button-color;
            border: 1px solid $button-color;
            color: white;
        }
}