/* Base styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}

hr {
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 20px;
    transition: all 0.3s;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    background-color: transparent;
}

.btn:hover {
    background-color: #007bff;
    color: white;
} 

.container {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
    text-align: center;
}

.section-header {
    margin-bottom: 75px;
}

.section-header h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}


/* HEADER */
.main-header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header-content {
    text-align: center;
}

.main-header-content h1 {
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main-header-content p {
    color: #333;
    font-size: 1.3em;
    margin: 30px 0;
}

.main-header-content span {
    color: #007bff;
}


/* NAVIGATION */
.main-nav {
    background-color: #007bff;
    text-align: center;
    padding: 20px 0;
}

.main-nav li {
    display: inline-block;
    margin: 0 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all 0.2s;
    padding: 20px 14px;
}

.main-nav li a:hover,
.main-nav li a:active {
    background-color: white;
    color: #007bff;

}


/* SECTION ABOUT */

.about .about-photo {
    width: 30%;
    height: auto;
    border-radius: 50%;
    /* margin: 10px auto; */
}

.about p {
    max-width: 700px;
    margin: 20px auto 20px auto;
    color: #777;
    line-height: 1.4;
}


/* SECTION PORTFOLIO */

.portfolio {
    background-color: #f2f1ed;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item {
    flex-basis: 25%;
    /* height: 200px; */ /* robie tak zeby wysokosc sie sama dostosowywala */
    position: relative; 
    /* background-color: rgba(0, 123, 255, 0.4); */ /* background color set in new div.hidden-text (instead of h3 and fixed height) */

}

.portfolio-wrapper .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* don't need it anymore as we hover new div.hidden-text */
/* .portfolio-wrapper .portfolio-item img:hover {
    opacity: 0.5;
} */



/* additional div.hidden-text to create a opacity effect */
.portfolio-wrapper .portfolio-item .hidden-text {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    /* background-color: #007bff; */
    background-color: rgba(0, 123, 255, 0.6); /* 0.6 = opacity */
    transition: all 0.5s
}

.portfolio-wrapper .portfolio-item .hidden-text h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    font-size: 2em;
    font-weight: 300;
}

.portfolio-wrapper .portfolio-item .hidden-text:hover {
    opacity: 1;
    
}

/* SECTION CONTACT */

.contact-form {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form #name,
.contact-form #email {
    padding: 10px;
    width: 49%;
}

.contact-form #message {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}

.social-links {
    margin-top: 50px;
}

.social-link {
    font-size: 2.5em;
    margin: 0 20px;
    color: #007bff;
    transition: all 0.5s;
}

.social-link:hover {
    color: rgba(0, 123, 255, 0.5);
}


/* FOOTER */

.main-footer {
    background-color: #f2f1ed;
    padding: 30px 0;
}

.main-footer p {
    text-align: center;
    color: 333;
    font-size: 90%;
    font-weight: 300;
}